<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 편집</title>
</head>
<body>
    <h2>사용자 편집</h2>
    <form action="{{url_for('crud.edit_user', user_id=user.id)}}" method="POST" novalidate="novalidate">
        {{form.csrf_token}}
        <p>
            {{form.username.label}} {{form.username(placeholder="사용자명", value=user.username)}}
        </p>
        {% for i in form.username.errors %}
        <span style="color: red;">{{i}}</span>
        {% endfor %}

        <p>
            {{form.email.label}} {{form.email(placeholder="이메일", value=user.email)}}
        </p>
        {% for i in form.email.errors %}
        <span style="color: red;">{{i}}</span>
        {% endfor %}

        <p>
            {{form.password.label}} {{form.password(placeholder="비밀번호")}}
        </p>
        {% for i in form.password.errors %}
        <span style="color: red;">{{i}}</span>
        {% endfor %}

        <p>
            <input type="submit" value="업데이트"/>
        </p>
    </form>
</body>
</html>
