<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 편집</title>
    <link rel = "stylesheet" href="{{url_for('auth.static',filename='createstyle.css')}}" />
</head>
<body>
    <div id="form-container">
        <div id="form-inner-container">
            <div id="sign-up-container">
                <h2>사용자 편집</h2>
                <form action="{{url_for('auth.edit_user', user_id=user.id)}}" method="POST" novalidate="novalidate">
                    {{form.csrf_token}}
                    
                    {{form.username.label}} {{form.username(placeholder="사용자명", value=user.username)}}
                    
                    {% for i in form.username.errors %}
                    <p><span style="color: red;">{{i}}</span></p>
                    {% endfor %}

                    {{form.email.label}} {{form.email(placeholder="이메일", value=user.email)}}
                    
                    {% for i in form.email.errors %}
                    <p><span style="color: red;">{{i}}</span></p>
                    {% endfor %}

                    {{form.password.label}} {{form.password(placeholder="비밀번호")}}
                    
                    {% for i in form.password.errors %}
                    <p><span style="color: red;">{{i}}</span></p>
                    {% endfor %}

                    <div id="form-controls">
                        <button type="submit">update</button>
                        <button type="button" id=""toggleingIn>delete</button>
                    </div>

                    <input type="hidden">
                    
                </form>

            </div>
        </div>
    </div>
</body>
</html>
